html, body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #124;
  background-image: linear-gradient(45deg, #248 25%, transparent 25%),
                    linear-gradient(-45deg, #248 25%, transparent 25%),
                    linear-gradient(45deg, transparent 75%, #248 75%),
                    linear-gradient(-45deg, transparent 75%, #248 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
  
#wrap {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  width: 100%;
  pointer-events: none;
  transition: transform 500ms;
}

a.btn {
  margin: 6px;
}

#scroller {
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform 500ms;
  
  transform: translate(0,0);
  
  &.moving {
    transition: none;
  }
  
  #arrows {
    // Room enough for a million screens
    height: 1024000px;
    width: 768000px;
    pointer-events: none;
    
    polyline {
      fill: none;
      stroke: black;
      stroke-width: 10;
      stroke-linejoin: bevel; // Make our arrows not weird
    }
  }
  
  // Ignore clicks on the scroller magic, but not children
  pointer-events: none;
  * { pointer-events: all; }
  
  #login {
    top: 0%;
    left: 0%;
  }

  #main {
    top: 200%;
    left: 200%;
    
    .row {
      
      height: 80%;
      
      // Bad hacks to get vertically aligned text
      div {
        display: table;
      }
      
      .btn {
        height: 4em;
        display: table-cell;
        vertical-align: middle;
        font-size: 3em;
      }
    }
  }
  
  #media-upload {
    top: 0%;
    left: 100%;
  }
  
  #media {
    top: 80%;
    left: 200%;

    a {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  
  #media-info {
    top: 0%;
    left: 300%;
  }

  #player-list {
    top: 100%;
    left: 0%;
  }

  #player-info {
    top: 200%;
    left: 0%;
  }

  #layout-list {
    top: 200%;
    left: 400%;
  }

  #layout-editor {
    top: 400%;
    left: 400%;

    overflow: hidden;

    // Bad layout hacks
    .url {
      margin-bottom: 1px;
    }

    .full {
      height: 738px;
      width: 1024px;

      display: flex;
      flex-direction: column;

      .title {
        height: 2em;
      }

      .bodywrap {
        flex: 1 0;
        background-color: red;

        
        &>div {
          height: 100%;
          width: 50%;
          float: left;

          &>div {
            height: 50%;
            width: 100%;
          }
        }

        .left {
          background-color: #f0f;

          .merdia {
            background-color: #f80;
          }

          .layout {
            background-color: #0f8;
          }
        }

        .right {
          background-color: #0ff;

          .tree {
            background-color: #ff0;
          }

          .properties {
            background-color: #ccc;
          }
        }
      }
    }

    .media,.tree table {
      @initpad: 4px;
      @pad: 12px;

      .depth-0 td:first-child {
        // Alright as he is
        padding-left: @initpad + 0 * @pad;
      }

      .depth-1 td:first-child {
        padding-left: @initpad + 1 * @pad;
      }

      .depth-2 td:first-child {
        padding-left: @initpad + 2 * @pad;
      }

      .depth-3 td:first-child {
        padding-left: @initpad + 3 * @pad;
      }

      .depth-4 td:first-child {
        padding-left: @initpad + 4 * @pad;
      }
    }
  }
}

.screen {
  height: 768px;
  width: 1024px;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  //opacity: 0.4;
  
  .url {
    width: 100%;
    padding: 2px;
    border-bottom: solid 1px;
    margin-bottom: 1em;
    
    &>a {
      float: right;
      background-color: #48f;
      padding: 2px;
      margin: -1px;
    }
  }
}